#Django files and folders
/cholestrack/.venv
/cholestrack/.env
/cholestrack/staticfiles/
/cholestrack/static/
/cholestrack/media/

#Deply logs
/deploy_management/logs/
/deploy_management/run/
/deploy_management/remote_files_setup.sh