Hello {{ user.username }},

You're receiving this email because you (or someone else) requested a password reset for your Cholestrack account.

Please click on the following link to reset your password:

{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}

If you didn't request this password reset, you can safely ignore this email. Your password will remain unchanged.

This link will expire in 24 hours for security reasons.

Best regards,
Cholestrack Team
Lab D'adamo - IRCCS Burlo Garofolo

---
This is an automated message. Please do not reply to this email.
