#This files goes at /etc/systemd/system/gunicorn.service

[Unit]
Description=gunicorn daemon for cholestrack Django application
After=network.target

[Service]
Type=notify
User=burlo
Group=burlo
WorkingDirectory=/home/burlo/cholestrack/cholestrack
Environment="PATH=/home/burlo/cholestrack/cholestrack/.venv/bin:/usr/bin"
ExecStart=/home/burlo/cholestrack/cholestrack/.venv/bin/gunicorn \
          --workers 2 \
          --bind unix:/home/burlo/cholestrack/deploy_management/run/gunicorn.sock \
          project.wsgi:application

[Install]
WantedBy=multi-user.target
